@{
    ViewData["Title"] = "Kurumsal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="kurumsal-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <p>
                            kurumsal
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="kurumsal-title">
            <h5>İşinizin en güvenilir parçası...</h5>
        </div>
        <div class="kurumsal-text">
            <p><b>Forza Otomotiv...</b>
            <p>
                Firmamız Forza Otmotiv 2010 yılında kurulmuş olup ticari hayatına
                filtre grubu yedek parçaları satışını gerçekleştirerek başlamıştır.
                2015 yılında otomobil periyodik yağ bakım,filtre grubu ve ön takım segmentini ekleyerek
                periyodik bakım,yedek parça tedarik ve teminini sağlamaktadır.
                Günümüzde ülkemizde 40 farklı ilimizin periyodik bakım yedek parça tedariğini sağlamaktayız.
                Kardeş ülkemiz Azerbaycan,Cezayir,Fas,Irak ve İran ülkelerine ihracatımız bulunmaktadır.
            </p>
            <br>
            <b>Vizyonumuz</b>
            <p>Otomotiv periyodik bakım segmentinde müşterilerimizin ihtiyaçlarını ön planda tutarak taleplerine her noktada cevap verebilmektir.</p>

            <b>Misyonumuz</b>
            <p>Otomotiv yedek parça sektöründe etik ilkelere bağlı,güven veren müşterilerimize ///// ülkemize ve ekonomimize faydalı olup uluslararası platformda ülkemizi iyi bir konumda temsil etmektir.</p>

            <b>Hassasiyetimiz</b>
            <p>
                Dürüstlük,kuruluşumuzdan günümüze süregelen profesyonellik,empati odaklı,inovasyona açık bakış açımız ile iş birliği yaptığımız müşterilerimize kalite ve tedarik durumunda destek sağlamak.
                <span>Sektörde Saygın Konuma Yükselmektir.</span>
            </p>

            </p>

        </div>
    </div>

</div>