@model Page

<link href="../../../css/fraola.css"/>


<form method="post" action="../../Admin/Page/Edit">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label asp-for="Name">Sayfa Adı</label>
        <input type="text" class="form-control" id="exampleInputEmail1" asp-for="Name">
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        <label asp-for="Title">Sayfa Başlık</label>
        <input type="text" class="form-control" asp-for="Title">
        @Html.ValidationMessageFor(model => model.Title)
    </div>

    <div class="form-group">
        <label asp-for="PageSortingIndex">Sayfa Sıra</label>
        <input type="text" class="form-control" asp-for="PageSortingIndex">
        @Html.ValidationMessageFor(model => model.PageSortingIndex)
    </div>
    
    <div class="form-group">
        <label asp-for="Description">Sayfa İçeriği</label>
        <textarea style="width:100%; height:840px" type="text" class="form-control" asp-for="Description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>


@section Scripts
{

}