@inject IPageService pageService

<div class="header-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-12">
                <a href="../">
                    <div class="logo">
                    </div>
                </a>
            </div>
            <div class="col-md-10 col-12">
                <ul class="nav menu custom-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="../">Anasayfa</a>
                    </li>
                    @foreach (var item in await pageService.Sayfalar())
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Page/Index?Id=@item.Id">@item.Name</a>
                        </li>
                    }

                    <li class="nav-item b2b-button">

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>