@model Company

<div class="header-top">
    <div class="container">
 <a href="/Account/Loginadm/" class="float-left ">
                            Admin
                        </a>
        <div class="social-icon">
           
            <a href="@Html.DisplayFor(x => x.Facebook)" target="_blank">
                <i class="zmdi zmdi-facebook"></i>
            </a>
            <a class="nav-link" href="@Html.DisplayFor(x => x.B2B)" target="_blank">
                B2B Giriş
            </a>

        </div>
    </div>
</div>
